@using DfE.EducationProviderRegistry.Web.Mvc.Features.Groups
@using DfE.EducationProviderRegistry.Web.ViewComponents.Tabs
@model GroupDetailsPageViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@Model.Heading</h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Download information
        </button>
    </div>
</div>

<div>
    @await Component.InvokeAsync("GovUkTabs", new GovUkTabs([
        new()
            {
                Id = "details",
                Title = "Details",
                Contents = [
                    new(){
                        ViewComponentName = "GovUkSummaryList",
                        Model = Model.Details.Summary
                    }
                ]
            },
            new()
            {
                Id = "academies",
                Title = Model.Academies.Tab,
                Contents = [
                    new()
                    {
                        ViewComponentName = "SharedGovUkTable",
                        Model = Model.Academies.Table
                    }
                ]
            },
            new()
            {
                Id = "governance",
                Title = "Governance",
                Contents = [
                    new(){
                        ViewComponentName = "SharedGovUkTable",
                        Model = Model.Governance.TrusteesTable
                    },   
                    new(){
                        ViewComponentName = "SharedGovUkTable",
                        Model = Model.Governance.MembersTable
                    }
                ]
            }
        ])
    )
</div>
