@model DfE.EducationProviderRegistry.Web.Mvc.ViewModels.Pages.EstablishmentDetailsPageViewModel

<h1 class="govuk-heading-xl">@Model.BasicDetails.Name</h1>

<div>
    @await Component.InvokeAsync("GovUkTable", Model.BasicDetailsTable)
    @await Component.InvokeAsync("GovUkTable", Model.GovernorsTable)
    @await Component.InvokeAsync("GovUkTable", Model.HistoryTable)
</div>
