@{
    ViewData["Title"] = "Home";
}

<h1 class="govuk-heading-xl">Default page template</h1>

<div>
    <div class="dfe-grid-container">
        <div class="dfe-card">
            <div class="dfe-card-container">
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                </h3>
                <p>A short description for the card.</p>
            </div>
        </div>
        <div class="dfe-card">
            <div class="dfe-card-container">
                <h3 class="govuk-heading-m">
                    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                </h3>
                <p>A short description for the card.</p>
            </div>
        </div>
    </div>
</div>

<div>
    <h2 class="govuk-heading-m">Quick search</h2>

    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">All information</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">All establishments</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">All establishment groups</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">All governance</a>
            </li>
        </ol>
    </nav>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div>
    <h2 class="govuk-heading-m">Related DfE services</h2>

    <p class="govuk-body">
        <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
            Schools profile service (opens in a new tab)
        </a> for information on performance data and comparing education establishments.
    </p>

    <p class="govuk-body">
        <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
            Ofsted (opens in a new tab)
        </a> for inspection reports.
    </p>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div>
    <h2 class="govuk-heading-m">Education establishments in the rest of the United Kingdom</h2>

    <ul class="govuk-list govuk-list--spaced">
        <li>
            <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                Northern Ireland government website (opens in a new tab)
            </a>
        </li>
        <li>
            <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                Scottish government website (opens in a new tab)
            </a>
        </li>
        <li>
            <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                Wales government website (opens in a new tab)
            </a>
        </li>
    </ul>
</div>