@using DfE.EducationProviderRegistry.Web.Mvc.Features.Search.ViewModels
@model SearchRequestViewModel

@{
    var breadcrumbs = new List<BreadcrumbViewModel>
    {
        new("Home", "Home", "Index"),
    };
}

@section Breadcrumbs
{
    <partial name="_Breadcrumbs" model="breadcrumbs" />
}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Search the register</h1>



<form asp-action="Search" asp-controller="Search" method="post">
    @await Html.PartialAsync("_SearchPanel", Model)
</form>


<div>
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m govuk-!-margin-top-7" for="example" aria-label="Quick links">Quick Search</label>
    </h1>
    <nav class="search-quick-links" aria-label="Quick links">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-link" href="#">All information</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-link" href="#">All establishments</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-link" href="#">All establishment groups</a>
            </li>
        </ol>
    </nav>
</div>