@using DfE.EducationProviderRegistry.Web.Mvc.Features.Search.ViewModels
@using DfE.EducationProviderRegistry.Web.Mvc.ViewComponents
@model SearchResultsViewModel

<h1 class="govuk-heading-xl">Search results</h1>

<form method="post" asp-controller="Search" asp-action="Search">

    <!-- Hidden fields to preserve search state -->
    <input type="hidden" name="SearchKeywords" value="@Model.PrimarySearchTerms" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

            @{
                FacetViewModel establishmentTypeFacet =
                    Model.Facets?.FirstOrDefault(facetViewModel =>
                        facetViewModel.Name == "EstablishmentTypeId")!;
            }

            <div class="moj-filter__options">
                <button type="submit"
                        class="govuk-button"
                        data-module="govuk-button">
                    Apply filters
                </button>

                @await Html.PartialAsync(
                    "_FiltersComponentGroup.cshtml",
                    (
                        Title: "Establishment type",
                        FacetKey: "t.establishment_type_id",
                        Facet: establishmentTypeFacet,
                        Options: new List<(string Label, string Value)>
                        {
                            ("Primary School", "1"),
                            ("Secondary School", "2"),
                            ("Multi-Academy Trust", "3")
                        }
                    )
                )
            </div>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    @if (Model.HasResults)
                    {
                        <p class="govuk-body" id="search-results-count">
                            @Model.SearchResultsCount @(
                                Model.SearchResultsCount > 1 ?"results found" : "result found")
                        </p>
                    }
                </div>
            </div>
            @if (Model.HasResults)
            {
                @foreach (GovUkTable result in Model.EstablishmentResults)
                {
                    @await Component.InvokeAsync("GovUkTable", result)
                }
            }
            else
            {
                <p class="govuk-body">No results found.</p>
            }
        </div>
    </div>

</form>
