@using DfE.EducationProviderRegistry.Web.Mvc.Features.Search.ViewModels
@using DfE.EducationProviderRegistry.Web.Mvc.ViewComponents
@using DfE.EducationProviderRegistry.Web.ViewComponents.Tabs
@model SearchResultsViewModel

<h1 class="govuk-heading-xl">
    @if (!string.IsNullOrWhiteSpace(Model.PrimarySearchTerms))
    {
        <span>
            Search results for "@Model.PrimarySearchTerms"

            @if (!string.IsNullOrWhiteSpace(Model.SecondarySearchTerms))
            {
                <text> "@Model.SecondarySearchTerms"</text>
            }
        </span>
    }
</h1>

<form asp-action="Search"
      asp-controller="Search"
      method="post">

    @await Html.PartialAsync("_SearchPanel", Model.SearchRequest)

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

            @{
                FacetViewModel establishmentTypeFacet =
                    Model.Facets?.FirstOrDefault(facetViewModel =>
                        facetViewModel.Name == "EstablishmentTypeId")!;
            }

            <div class="filter-panel">

                <div class="filter-panel__title">
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                        Filters
                    </h2>
                </div>

                @await Html.PartialAsync(
    "_SearchFilters",
    Model.SearchFilters)


            </div>
        </div>

        @if (Model.HasResults)
        {
            <div class="results-header">
                <p class="govuk-body">
                    @Model.EstablishmentResults.Count results
                </p>

                <div class="results-actions">
                    <div class="sort-controls">
                        <label class="govuk-label sort-controls__label" for="sort">
                            Sort results
                        </label>

                        <select class="govuk-select" id="sort" name="sort">
                            <option value="published">A to Z</option>
                            <option value="comments">Option</option>
                        </select>
                    </div>

                    <a href="#" class="govuk-link">
                        Download results
                    </a>
                </div>
            </div>

            {
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-grid-row search-results">
                        @await Component.InvokeAsync("GovUkTabs",
                        new GovUkTabs(
                        [
                            new Tab(
                                id: "establishments",
                                title: $"Establishments ({Model.EstablishmentResults.Count})",
                                contents:
                                Model.EstablishmentResults.Select(result => new TabContent(
                                    viewComponentName: "GovUkTable",
                                    model: result)).ToList()
                            ),
                                new Tab(
                                id: "establishmentsGroups",
                                title: "Establishments groups",
                                contents:
                                [
                                    new TabContent("GovUkTable",  new GovUkTable())
                                ]
                            )
                ]))
                    </div>
                </div>

            }
        }
        else
        {
            <p class="govuk-body">No results found.</p>
        }
    </div>

</form>
